.content{
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding:20px 5%;
}


.content input{
    margin-bottom: 15px;
}
#formSelect{
    padding: 20px 0;
}
.img-responsive{
    margin-top: 10px;
    margin-bottom: 20px;
}
#userDefine input{
    margin-bottom: 0 !important;
}
#userDefine{
    padding: 30px 0;
    overflow-x: auto;
}
#userDefine input{
    min-width: 75px;
}
#upload{
    margin-bottom: 10px;
}
#formSelect .btn-success,#publish4{
    margin-top: 10px;
}

