<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/commom.js"></script>
    <script src="__JS__/jquery-3.0.0.min.js"></script>
    <script src="__JS__/bootstrap-datetimepicker.min.js"></script>
    <script src="__JS__/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="__JS__/sweetalert.js"></script>
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/main.css">
    <link rel="stylesheet" href="__CSS__/skins/square/blue.css">
    <link rel="stylesheet" href="__CSS__/publish.css">
    <link rel="stylesheet" href="__CSS__/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
    <link rel="stylesheet" href="__CSS__/menu.css">

    <title>修改任务</title>
</head>
<body>
<!--导航条-->
{include file="application/index/view/header/header.html" /}
<!--侧边栏-->
<div id="sideBar">
    <ul class="menu">
        <li class="menu-active"><a href="{:url('Admin/index')}"><span class="glyphicon glyphicon-th-list"></span>&emsp;已发布的任务</a></li>
        <li><a href="{:url('Releasetask/index')}"><span class="glyphicon glyphicon-list-alt"></span>&emsp;发布新任务</a></li>
        <li><a href="index.html"><span class="glyphicon glyphicon-check"></span>&emsp;查看已提交的任务</a></li>
        <li><a href="{:url('Accountmanage/index')}"><span class="glyphicon glyphicon-cog"></span>&emsp;账户管理</a></li>

    </ul>
</div>

<!--内容栏-->
<div id="container">
    <h1>修改任务</h1>
    <hr/>
    <div class="tab-content">
        <div class="content tab-pane fade in active">
            <form action="{:url('Admin/changeForm')}" enctype="multipart/form-data" method="post" id="form">
                <input type="hidden" name="id" value="{$task_data.id}">
                <input type="hidden" name="form_moudle" value="{$task_data.form_moudle}">
                <input type="text" placeholder="修改任务名称" class="form-control" value="{$task_data.taskname}" name="taskname">
                <input type="text" class="form-control timePicker" value="{$task_data.start_date}" placeholder="修改任务开始时间" data-date-format="yyyy-mm-dd" name="start_date" readonly>
                <input type="text" class="form-control timePicker" value="{$task_data.end_date}" placeholder="修改任务结束时间" data-date-format="yyyy-mm-dd" name="end_date" readonly>
                <textarea name="tasktext" cols="30" rows="3" class="form-control" placeholder="修改任务简介（选填）">{$task_data.tasktext}</textarea>
                <div>
                    <input type="hidden" name="MAX_FILE_SIZE" value="52428800" />
                    <h3>已上传的附件：<small style="color: #3f89ec">{$task_data.attachment_name??'无'}</small></h3>
                    <h3>重新上传附件模版 <small>*可选</small></h3>
                    <input type="file" name="uploadfile" class="btn btn-info" id="chooseFileButton"/>
                    <small style="color: red">*上传附件格式只能为.doc、.docx、.xls、.xlsx、.rar、.zip，且文件大小不能超过50M</small><br>
                    <small style="color: red">*如需要上传多个文件，请先打包成压缩格式</small>
                    <br><br>
                    <button class="btn btn-success" type="submit" id="publish"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /*时间选择器设置*/
    $('.timePicker').datetimepicker({
        format:"yyyy-mm-dd",
        minView:'month',
        autoclose: true,
        todayBtn: true,
        pickerPosition: "bottom-left",
        language: 'zh-CN',
    });
</script>
<script src="http://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="__JS__/bootstrap.js"></script>
</body>
</html>