<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/commom.js"></script>
    <script src="__JS__/jquery-3.0.0.min.js"></script>
    <script src="__JS__/sweetalert.js"></script>
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/main.css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
    <link rel="stylesheet" href="__CSS__/check.css">
    <link rel="stylesheet" href="__CSS__/menu.css">
    <title>发布任务</title>
</head>
<body>
<!--导航条-->
{include file="application/index/view/header/header.html" /}
<!--侧边栏-->
<div id="sideBar">
    <ul class="menu">
        <li class="menu-active"><a href="{:url('Admin/index')}"><span class="glyphicon glyphicon-th-list"></span>&emsp;已发布的任务</a></li>
        <li><a href="{:url('Releasetask/index')}"><span class="glyphicon glyphicon-list-alt"></span>&emsp;发布新任务</a></li>
        <li><a href="index.html"><span class="glyphicon glyphicon-check"></span>&emsp;查看已提交的任务</a></li>
        <li><a href="{:url('Accountmanage/index')}"><span class="glyphicon glyphicon-cog"></span>&emsp;账户管理</a></li>

    </ul>
</div>

<!--内容栏-->
<div id="container">
    <h1>查看已发布的任务</h1>
    <hr/>
    <div id="content">
        {volist name='tasks' id='task'}
        <div class="well" id="{$task.id}">
            <h2>{$task.taskname}
                {switch name=$task.form_moudle}
                {case value="1"} <span class="label label-info">表单一</span>{/case}
                {case value="2"} <span class="label label-info">表单二</span>{/case}
                {case value="3"} <span class="label label-info">表单三</span>{/case}
                {default /} <span class="label label-info"> 自定义表格</span>
                {/switch}
                <small> 发布于：{$task.date}</small>
            </h2>

            <!--起止时间-->
            <p>
                <h3><small>起止时间：</small></h3>
                <span class="time1">{$task.start_date}</span>
                <span>到</span>
                <span class="time1">{$task.end_date}</span>
            </p>
            <hr>

            <!--任务简介-->
            <h4>任务简介：</h4>
            <p class="intro">{$task.tasktext}</p>

            <!--自定义表格格式-->
            {if condition="$task.form_moudle eq ''"}
            <div class="table-responsive">
                <hr>
                <h4>表格格式：</h4>
                <table class="table table-bordered">
                    <tr>
                        {php}
                        $table_moudle_array = explode('<&>',$task['table_moudle']);
                        foreach($table_moudle_array as $value){
                        if(!empty($value))
                        echo '<th>'.$value.'</th>';
                        }
                        {/php}
                    </tr>
                </table>
            </div>
            {/if}

            <!--附件名称-->
            {if condition="$task.attachment_name neq null "}
            <hr>
            <h3>附件：<small style="color: #3f89ec">{$task.attachment_name}</small></h3>
            {/if}

            <hr>

            <a href="{:url('Admin/changeTask').'?id='.$task['id']}"><button class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span>&nbsp;修改</button></a>
            <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</button>
        </div>
        {/volist}
        {$tasks->render()}
    </div>
</div>

<script src="http://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="__JS__/published.js"></script>
<script>
    /*给所有删除按钮绑定功能*/
    var deleteButton=document.getElementsByClassName("btn-danger");
    for(var i=0;i<deleteButton.length;i++){
        deleteButton[i].onclick=function () {
            var that=this;
            swal({
                title: "确定要删除这项任务吗？",
                type: "warning",
                showCancelButton:true,
                cancelButtonText:'返回',
                confirmButtonText: "确定",
                confirmButtonColor: "#ec6c62",
                closeOnConfirm: true,
                closeOnCancel: true
            },function (isConfirm) {
                if(isConfirm){
                    var well=that.parentNode.id;
                    $.post("{:url('Admin/deleteTask')}",{
                        id:well
                    },function (data,status) {
                        window.location.href="{:url('Admin/index')}";
                    });
                }
            });
        }
    }
</script>
<script src="__JS__/bootstrap.js"></script>
</body>
</html>