<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="__JS__/commom.js"></script>
    <script src="__JS__/sweetalert.js"></script>
    <link rel="stylesheet" href="__CSS__/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/main.css">
    <link rel="stylesheet" href="__CSS__/menu.css">
    <link rel="stylesheet" href="__CSS__/sweetalert.css">
    <link rel="stylesheet" href="__CSS__/table.css">

    <title>查看提交的表单</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">管理员</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理员</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onClick="javascript :history.back(-1);"><span class="glyphicon glyphicon-circle-arrow-left"></span>&emsp;返回上页</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div id="display">
    <div id="info" class="well">
        <br>
        <h2>提交学院：<span class="school">{$schoolname}</span></h2>
        <hr>
        <p>提交的附件：<span>{$data.attachment_name}</span>
        <form action="{:url('Checksubmited/downloadAttachment')}" method="post">
            <input type="hidden" name="attachment_dir" value="{$data.attachment_dir}">
            <input type="hidden" name="attachment_name" value="{$data.attachment_name}">
            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-save"></span>&nbsp;下载附件</button>
        </form>
        </p>
    </div>
    <div id="table">
        <h1>优秀志愿服务项目申报表</h1>
        <table class="table table-bordered">
            <tr>
                <td class="table-width-s">项目名称</td>
                <td colspan="3">{$data.project_name}</td>
            </tr>
            <tr>
                <td class="table-width-s">项目类型</td>
                <td colspan="3">{$data.project_type}</td>
            </tr>
            <tr>
                <td class="table-width-s">申报单位</td>
                <td colspan="3">{$data.unit}</td>
            </tr>
            <tr>
                <td class="table-width-s">联系人</td>
                <td>{$data.contacts}</td>
                <td class="table-width-s">联系电话</td>
                <td>{$data.contact_tel}</td>
            </tr>
            <tr>
                <td class="table-width-s table-height-xxl">项目简介</td>
                <td colspan="3">{$data.text1}</td>
            </tr>
            <tr>
                <td class="table-width-s table-height-l">校（区）、院团委意见</td>
                <td colspan="3">{$data.text2}</td>
            </tr>
        </table>
        <a href="{:url('Exportfile/exportword').'?form=form2&id='.$data['id']}"><button class="btn btn-success"><span class="glyphicon glyphicon-log-out"></span>&nbsp;导出成word</button></a>
    </div>

</div>
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="__JS__/bootstrap.js"></script>
</body>
</html>
